.App {
  text-align: center;
}
.photo_size {
  width: 700px;
  height: 500px;
  border: solid 1px #000;
  margin: 20px auto 0;
}

.alert {
  color: red;
  font-size: 16px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_Preview {
  width: 500px;
  height: 400px;
  border: solid 1px #000;
  margin: 20px auto 0;
}